
  /*

  Turqouise: ##254d39 
  Navy: #1c1d21
  Grey: #d1d1d1
  Black: #080808
  
  
   FONTS
    serif: 'DM Serif Display'
    sans: Arial, Helvetica
  
  */
  fonts
  
  https://fonts.googleapis.com/css?family=DM+Serif+Display&display=swap" rel="stylesheet">
  
  colours

  https://htmlcolors.com/google-color-picker


body {
  background-color: #d1d1d1;
  color: #080808; 
  font-weight: normal;
  text-align: center;
  font-family: 'helvetica', arial, serif;
    
   

 h1 {
 

  font-family: 'DM Serif Display', serif;
  font-size: 4;
  font-style: bold;
  max-width: img, 200px;
  text-align: center
  colour #254d39 

   }


h2 {


  font-family: 'helvetica' ;
  font-size: 4;
  
  

   }






    
       
      
        
        
        
       
      
      
        

  
